streamlit>=1.28.0
python-dotenv==1.0.0
langchain>=0.1.7
langchain-pinecone>=0.0.3
langchain-community>=0.0.10
langchain-core>=0.1.7
langchain-openai>=0.0.5
langchain-huggingface>=0.0.1
langchain-text-splitters>=0.0.1
pypdf>=3.17.4
sentence-transformers>=2.2.2
huggingface-hub>=0.19.4
openai>=1.6.1
pinecone>=4.0.0
pydantic>=2.5.2
